/*.login {*/
/*    max-width: 340px;*/
/*    margin: 0 auto;*/
/*    padding: 1rem;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*}*/

.logo1{

    height: 100px;
    margin-left: 500px;
}

.t4{
    color: yellow;
    text-align: center;
}